$color-main: #01273a;

p {
  color: #ffffff;
}

.main-bg {
  background: $color-main;
  overflow: hidden;
  margin: 0 auto;
  max-width: 768px;
  #page1 {
    position: relative;
    width: 100%;
  }

  #page2 {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }

  #page3 {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }

  #page4 {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }


  #page5 {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }

  #page6 {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }


  .logo {
    position: relative;
    left: 15px;
    top: 50px;
    width: 100px;
    height: auto;
  }
  .girl {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 8;
    margin-top: 150px;
  }
  .phone {
    position: relative;
    height: 850px;
    z-index: 15;
    width: auto;
    right: -60%;
  }
  .page1_text {
    position: absolute;
    z-index: 9;
    right: 15px;
    top: 50px;
    width: 50%;
    .text1 {
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      color: #ffffff;
      font-size: 25px;
      text-align: right;
      margin: 0;
      text-transform: uppercase;
      font-weight: 200;
    }
    .text2 {
      position: relative;
      color: #f3a006;
      font-size: 35px;
      text-align: right;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .over_page {
    position: relative;
    left: 0;
    top: 0;
    z-index: 9;
    background: #0f81bb;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
  }

  .intro_feature {
      position: relative;
    .title {
      position: absolute;
      z-index: 10;
      margin: 0;
      color: #c2ebff;
      font-size: 25px;
      font-weight: 600;
      display: block;
      top: 50px;
      left: 20px;
    }
    .text_intro_phone {
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 15px;
        width: 100%;
        height: 100%;
      .line {
        position: relative;
        z-index: 10;
        width: 95%;
        p {
          margin: 0;
          color: #c2ebff;
          font-size: 18px;
          display: block;
          b {
            margin: 0;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            margin-left: 5px;
          }
        }

        h4 {
          margin: 0;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          display: block;
        }

        .diver {
          margin-top: 20px;
        }

        span {
          width: 100%;
          height: 1px;
          background: #ffffff;
          position: relative;
          left: 0;
          bottom: -10px;
          display: block;
          &::before {
            position: absolute;
            content: "";
            left: 0;
            top: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ffffff;
          }
        }
      }
    }
  }
  .section3 {
    position: relative;
    .section_inner {
      background: $color-main;
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 16;
      opacity: 0;
    }
    .slide_inner {
      .slide {
        position: relative;
        z-index: 20;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        img {
            max-width: 250px;
        }
        img.img-sm {
          height: auto;
          width: 40%;
        }
        img.img-md {
          height: auto;
          width: 50%;
        }
        img.img-lg {
          height: auto;
          width: 70%;
        }
      }
    }
  }
  .title_footer_section2 {
    position: relative;
    width: 100%;
    z-index: 20;
    h3 {
      font-size: 22px;
      color: #ffffff;
      font-weight: 600;
      text-align: center;
      margin: 0 5px;
    }
  }

  .section4 {
      position: relative;
      width: 100%;
      height: 100%;
    .title_section4 {
        position: relative;
        margin-left: 30px;
      h2 {
        position: relative;
        z-index: 25;
        color: #ffffff;
        font-size: 25px;
        text-align: left;
        margin: 5px 0;
      }
      h1 {
        position: relative;
        z-index: 25;
        color: #f3a006;
        font-size: 35px;
        text-align: left;
        margin: 0;
      }
    }

    .image_inner {
        position: relative;
        min-height: 50vh;
        .phone_section4 {
            position: absolute;
            width: 95%;
            height: auto;
          }
      
          .page4_item {
            position: absolute;
            width: 30%;
            max-width:250px;
            height: auto;
          }
    }


    .section4_text_footer {
        margin-top: 30px;
      h3 {
        position: relative;
        z-index: 35;
        color: #ffffff;
        font-size: 25px;
        text-align: left;
        margin: 5px 0;
        left: 0;
        width: 100%;
        text-align: center;
        // transform: translateY(-50%);
      }
      .img_group {
        position: relative;
        z-index: 35;
        display: inline-table;
        width: 100%;
        text-align: center;
        justify-items: center;
        margin: 10px auto;
        img {
          width: 150px;
          margin: 5px;
        }
      }
    }
  }

  .section5 {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    z-index: 40;
    background: $color-main;
    .video_text_path {
      background: #09b8b8;
    }
    .svg-video-text {
      -webkit-clip-path: url(#SVGID_2_);
      clip-path: url(#SVGID_2_);
      width: 100%;
    }
    .text_video {
      font-size: 30vw;
      font-weight: 900;
    }
  }

  .section6 {
    .section_title {
      position: relative;
      z-index: 45;
      text-align: center;
      width: 100%;
      h1 {
        color: #ffffff;
        font-size: 25px;
        text-align: left;
        margin: 5px 0;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .download_app {
      position: relative;
      z-index: 45;
      text-align: center;
      width: 100%;
      img {
        width: 200px;
        height: auto;
        margin: 10px;
      }
    }

    .icon_phone {
      position: absolute;
      z-index: 45;
      width: 100%;
      width: 75px;
      height: auto;
      right: 15px;
      bottom: 15px;
    }
  }
}
